.main-home-page {
    margin-top: 40px;





    .download-container {
        background-color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: 80px;
        padding: 20px;

    }

    .download-btn {
        background: url("../assets/images/playstore.png") no-repeat scroll 0 0 transparent;
        color: #000000;
        cursor: pointer;
        font-weight: bold;
        background-size: contain;
        width: 125px;
    }

    .download-btn2 {
        background: url("../assets/images/applestore.png") no-repeat scroll 0 0 transparent;
        color: #000000;
        cursor: pointer;
        font-weight: bold;
        background-size: contain;
        width: 125px;
    }

    .testimonial-slider {
        // height: 100;
        // background-color: palevioletred;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        gap: 20px;
        margin-bottom: 30px;

    }



    .mobile-search {
        display: none;
    }

    .desktop-search {
        display: none;
    }

    .info-section {
        display: none;
    }



    //  .footer-mobile {
    //  display: none;
    //  }
    //  .footer-desktop {
    //  display: none;
    //  }
    .get-started-m {
        display: none;
    }


    // MOBILE SCREEN

    @media screen and (min-device-width:375px) and (max-device-width:480px) {
        .img-container {
            height: 250px;
            width: 100%;
        }



        .mobile-search {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .box-holder {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 90%;
        }

        .search {
            width: 100%;
            // margin-bottom: 15px;
        }

        .get-help-btn {
            width: 100%;

        }

        .btn {
            border: 1px solid gray;
            color: black;
            width: 100%;

        }

        .btn:hover {
            background-color: #1C7ED6;
            color: white;
            width: 100%;

        }

        .info-section {
            width: 100%;
            display: flex;
            margin-bottom: 50px;
            flex-direction: column;
            align-items: center;


            .left {
                flex: 1;
                min-height: 400px;
                display: flex;
                flex-direction: column;
                padding-left: 100px;
                padding-right: 100px;
                align-items: center;
                margin-bottom: 40px;
                background-color: whitesmoke;
            }

            .info-made-easier-header {
                width: 350px;
                text-align: center;
            }


            .sub-info-text {
                width: 350px;
                text-align: center;
            }

            .sub-info-text-item {
                width: 350px;
                text-align: center;
                display: flex;
                align-items: center;
                font-size: 14px;
                gap: 5px;
            }

            .left-img {
                height: 300px;
                width: 350px;
                background-size: cover;
                border-radius: 5px;
            }


        }

        .info-section2 {
            width: 100%;
            display: flex;
            margin-bottom: 50px;
            flex-direction: column;
            align-items: center;


            .left {
                flex: 1;
                min-height: 400px;
                display: flex;
                flex-direction: column;
                padding-left: 100px;
                padding-right: 100px;
                align-items: center;
                margin-bottom: 40px;
                background-color: whitesmoke;
            }

            .info-made-easier-header {
                width: 350px;
                text-align: center;
            }


            .sub-info-text {
                width: 350px;
                text-align: center;
            }

            .sub-info-text-item {
                width: 350px;
                text-align: center;
                display: flex;
                align-items: center;
                font-size: 14px;
                gap: 5px;
            }

            .left-img {
                height: 300px;
                width: 350px;
                background-size: cover;
                border-radius: 5px;
            }


        }


        .testimonial-slider-container {
            display: flex;
            flex-direction: column;
            align-items: center;


            .header-sub-title {
                text-align: center;
                max-width: 300px;
                margin-top: -10px;
            }

            .testimonial-slider {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
            }



        }



        .get-started-m {
            display: block;

            .header {
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: whitesmoke;

            }

            .section {
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            .img-container{
                height: 100px;
                width: 100px;
                .img{
                    height: 100%;
                    width: 100%;
                }
            }

            .info{
                text-align: center;
                font-size: 16px;
            }

            .left {
                flex: 1;
                height: 300px;
                // background-color: yellowgreen;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                background-color: whitesmoke;

            }

            .right {
                flex: 1;
                height: 300px;
                // background-color: yellow;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                background-color: whitesmoke;


            }
        }



    }


    // MOBILE SCREEN
    @media screen and (min-device-width:480px) and (max-device-width:640px) {

        .img-container {
            height: 250px;
            width: 100%;


        }

        .mobile-search {
            display: block;
            // background-color: burlywood;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .box-holder {
            background-color: palevioletred;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 90%;

        }

        .search {
            width: 100%;
            // margin-bottom: 15px;
        }

        .get-help-btn {
            width: 100%;

        }

        .btn {
            border: 1px solid gray;
            color: black;
            width: 100%;

        }

        .btn:hover {
            background-color: #1C7ED6;
            color: white;
            width: 100%;

        }

        .info-section {
            display: flex;
            margin-bottom: 50px;
            flex-direction: column;


            .left {
                background-color: whitesmoke;
                flex: 1;
                min-height: 400px;
                display: flex;
                flex-direction: column;
                padding-left: 100px;
                padding-right: 100px;
            }

            .right {
                flex: 1;
                min-height: 400px;

            }

            .item {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }



        .get-started-m {
            display: block;

            .header {
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: whitesmoke;

            }

            .section {
                display: flex;
                flex-direction: column;

            }

            .left {
                flex: 1;
                height: 300px;
                // background-color: yellowgreen;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                background-color: whitesmoke;

            }

            .right {
                flex: 1;
                height: 300px;
                // background-color: yellow;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                background-color: whitesmoke;


            }
        }

        // .footer-mobile {
        //     display: block;
        //     }
    }


    // DESKTOP SCREEN
    @media screen and (min-device-width: 768px) {
        .img-container {
            height: 500px;
            width: 100%;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .desktop-search {
            display: block;
            min-height: 300px;
            width: 600px;
            border-radius: 5px;
            background-color: #fff;
        }

        .title {
            text-align: center;
        }

        .sub-title {
            text-align: center;
            color: gray;
        }

        .search-btn-option {
            display: flex;
            gap: 10px;

        }

        .search {
            flex: 3
        }

        .get-help-btn {
            flex: 1
        }

        .skill-container {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .skill-btn {
            border: 1px solid gray;
            color: black;
        }

        .skill-btn:hover {
            background-color: #1C7ED6;
            color: white;
        }

        .info-section {
            display: flex;
            margin-bottom: 50px;


            .left {
                background-color: whitesmoke;
                flex: 1;
                min-height: 400px;
                display: flex;
                flex-direction: column;
                padding-left: 100px;
                padding-right: 100px;
            }

            .right {
                background-color: teal;
                flex: 1;
                min-height: 400px;

            }

            .item {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .get-started-m {
            display: block;

            .divider {
                display: none;
            }

            .header {
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: whitesmoke;

            }

            .section {
                display: flex;
                // flex-direction: column;

            }

            .info {
                text-align: center;
                max-width: 270px;
            }

            .left {
                flex: 1;
                height: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 350px;
                background-color: whitesmoke;
                // padding: 20px;
            }

            .right {
                flex: 1;
                height: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 350px;
                background-color: whitesmoke;

            }
        }

    }






}