.main-navbar {
    display: block;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
    /* text-decoration: none; */
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }


.logo{
    color:black;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;

}
    .menu{
      color:black;
      
    }
    .menu-current{
      color:black;
      text-decoration: underline;
    }



    .nav-side-menu{
      border-bottom: 1px solid gray;
      // display: flex;
      // align-items: center;
      // padding-left: 20px;
      // padding-bottom: 20px;
      .nav-menu{
        color:black;
        text-decoration: none;
        padding-left: 20px;
        padding-bottom: 10px;
      }
    }

}
